extends layout

block post-head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/benchmark/1.0.0/benchmark.js")
  script(src="/js/main.js")

block content
  h1= test.name
    small by #{test.creator}
  h3 Tests to run on snippets
  pre.test= test.test
  h3 Snippets
  each version in test.versions
    h4= version.name
    pre.snippet(data-name=version.name)= version.code